@media (max-width: 600px) {
    .moto {
        display: flex;
        flex-direction: column-reverse;
    }

    .menu-one {
        padding-right: 0px;
        margin-left: 0px;
    }

 
    .menu ul li {
        display: none;
       
    }

    .menu ul img {
        width: 180px;
    }

    .tanamao a {
        margin-left: 0px;
    }

    .nao-two input {
        width: 300px;
        height: 40px;
        margin-bottom: 20px;
    }

    .nao-two button {
        margin-left: 150px;
    }

    .contato {
        display: grid;
    }

    .last {
        padding-left: 0px;
        display: grid;
    }

    .last p {
        padding: 0%;
    }

    .motoboy {
        width: 300px;
        padding-left: 0px;
    }

    .motoboy-one {
        width: 300px;
        padding-left: 0px;
    }

    .last img {
        padding-right: 0px;
    }

    .motoboy-two {
        width: 300px;
        padding-left: 0;
    }

    .menu ul {
        padding-left: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #btn {
        display: flex;
        width: 50px;
    }

    .show {
        display: flex;
    }

   

  
}